* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 23.75rem;
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
    border-radius: 10px;
    padding: 1.25rem;
    margin: 1.563rem;
    position: relative;
}

.search-container {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.486);
}

label {
    display: block;
    padding: 8px 0;
    font-weight: 500;
    font-size: 24px;
}

input[type='text'] {
    border-radius: 5px;
    border: none;
    padding: 8px;
    outline: none;
}
.addInputs,
.searchInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.displayContactStyle {
    font-weight: 600;
    background-color: #21bfe649;
    border-radius: 10px;
    padding: 10px;
}

.displayContactStyle::before {
    content: '  📞';
}

#displayNoti {
    font-weight: 600;
}

#addButton {
    width: 100%;
    margin: 15px 0;
    padding: 8px;
    font-weight: 650;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
}

#addButton:hover {
    background-color: #45a049;
    cursor: pointer;
}

#searchButton {
    width: 48%;
    margin: 15px 0;
    padding: 8px;
    font-weight: 650;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
}

#searchButton:hover {
    background-color: #45a049;
    cursor: pointer;
}

.reset {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #a9c9ff;
    cursor: pointer;
    opacity: 0.2;
}

h1 {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

img {
    transform: rotate(20deg);
}

@media (max-width: 480px) {
    .container {
        width: 80%;
        margin: 10px;
        padding: 10px;
    }

    #addButton,
    #searchButton {
        width: 100%;
    }

    .reset {
        background-color: #fcb6ee;
        position: static;
        margin-top: 10px;
    }

    .addInputs,
    .searchInputs {
        flex-direction: column;
        align-items: inherit;
    }

    h1 {
        font-size: 25px;
        position: relative;
        right: 6px;
        gap: 8px;
    }

    img {
        transform: inherit;
    }

    label {
        font-size: 18px;
    }
}